# Pythonキャッシュ
__pycache__/
*.pyc
*.pyo
*.pyd

# データベース
db.sqlite3

# 環境変数ファイル
.env

# 仮想環境
venv/
.env/
.env.bak/

# Django静的ファイル・メディア
staticfiles/
media/

# Djangoログ・一時ファイル
*.log
*.pot
*.py[cod]
*.swp
*.swo

# IDE / エディタ関連
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS関連
.DS_Store
Thumbs.db
